<div class="book-detail-container">
  <mat-card class="example-card" *ngIf="selectedBook" >
    <mat-card-header>
      <mat-card-title><b>Book: </b> {{selectedBook.book_name}}</mat-card-title>
      <mat-card-subtitle><b>Author: </b><i>{{selectedBook.book_autor}}</i></mat-card-subtitle>
      <mat-card-subtitle><b>Genre: </b><i>{{selectedBook.genre}}</i></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="removeBook()">Remove</button>
      <button mat-raised-button color="primary" (click)="editBook()">Edit</button>
    </mat-card-actions>
  </mat-card>

  <form [formGroup]="bookForm" *ngIf="isEditBook" (ngSubmit)="updateBook()">
    <mat-form-field>
      <input matInput placeholder="Book Name" formControlName="book_name" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author" formControlName="book_autor" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Genre" formControlName="genre">
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit">Save</button>
  </form>
