<div class="list-container">
  <mat-list>
    <h2 mat-subheader>Books list</h2>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let book of (state | async).books" router-link="book">
      <mat-icon mat-list-icon svgIcon="book-icon"></mat-icon>
      <h3 mat-line>{{book.book_name}}</h3>
      <p mat-line> {{book.book_autor}} </p>
      <p mat-line> {{book.genre}} </p>
      <mat-icon svgIcon="favorite" *ngIf="book.isSelected"></mat-icon>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

